.banner-section {
  background: url("../../../assets/images/circle-left.png") no-repeat top left,
    url("../../../assets/images/circle-right.png") no-repeat top right,
    url("../../../assets/images/circle-top.png") no-repeat top left, #a2d8f2;
  background-position: -10% 65%, 100% 15%, 20% -10%;
}

@media all and (max-width: 1100px) {
  .banner-section {
    background-position: -20% 65%, 105% 15%, 20% -12%;
  }
}

@media all and (max-width: 1024px) {
  .banner-section {
    background-position: -20% 65%, 105% 15%, 20% -16%;
  }
}

@media all and (max-width: 920px) {
  .banner-section {
    background-position: -30% 65%, 115% 15%, 20% -16%;
  }
}

@media all and (max-width: 768px) {
  .banner-section {
    background-position: -50% 55%, 115% 15%, 20% -16%;
  }
}

@media all and (max-width: 576px) {
  .banner-section {
    background-position: -90% 45%, 130% 15%, 20% -16%;
  }
}

@media all and (max-width: 490px) {
  .banner-section {
    background-position: -130% 45%, 140% 15%, 20% -16%;
  }
}

@media all and (max-width: 400px) {
  .banner-section {
    background-position: -300% 45%, 165% 15%, 20% -16%;
  }
}

@media all and (max-width: 350px) {
  .banner-section {
    background-position: -1500% 45%, 165% 15%, 20% -16%;
    background-position: -1800% 45%, 195% 15%, 20% -18%;
  }
}
